@import "../../styles/global-imports";

.activityStatusHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin-bottom: 1rem;
}

.skeletonWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.spaceWrap {
  align-items: center;
}
