// ---------------------------------------
//  Breakpoints (include-media)
// ---------------------------------------

$breakpoints: (
  // 'screen-phone-s': 320px,
  'screen-phone': 480px,
  'screen-tablet': 768px,
  'screen-desktop': 1024px,
  // 'screen-widescreen': 1200px,
);

// color palette
$dark-purple1: #24232d;
$dark-purple2: #29233a;
$dark-purple3: #322648;
$dark-purple4: #382558;
$dark-purple5: #41246d;
$dark-purple6: #4a2381;
$dark-purple7: #623c92;
$dark-purple8: #7e5ba5;
$dark-purple9: #9a7fb4;
$dark-purple10: #b6a8c1;
