@import "@/styles/global-imports";

div.collapse {
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

div .panel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
