@import "@/styles/global-imports";

.buttonWrap {
  height: 10%;
  justify-content: center;
  display: none;
  position: fixed;
  background-color: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-top: 1px solid black;
  border-radius: 100% 100% 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  @include media("<=screen-phone") {
    display: flex;
  }
}

.buttonWrap button {
  margin-right: 1rem;
  background: none;
  border: none;
  font-size: 1.4rem;
  height: 100%;
  border-radius: 0;
}
