@import '@/styles/global-imports';

.mainWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.userName {
    display: flex;
    justify-content: center;
}

.avatarHolder {
    display: flex;
    justify-content: center;
}

.buttonHolder {
    display: flex;
    justify-content: center;
}

