@import '../global-imports';

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

footer {
  @include media('<=screen-phone') {
    height: 10%;
  }
}

#root {
  height: 100%;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

main {
  height: 100%;
}

* { // firefox case
  scrollbar-width: thin;
}
